@import url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3.2rem;
}
