@import url("https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Lato", "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 3.2rem;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 4rem;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  text-align: center;
  font-size: 3rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.8rem;
}

h2::after {
  display: block;
  height: 2px;
  width: 10rem;
  background-color: #e67e22;
  content: "";
  margin: 0 auto;
  margin-top: 3rem;
}

section {
  padding: 8rem 0;
}
